@font-face {
  font-family: Cormorant;
  font-weight: 700;
  font-style: normal;
  src:
    url("/fonts/Cormorant/Cormorant-Bold.woff2") format("woff2"),
    url("/fonts/Cormorant/Cormorant-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Cormorant;
  font-weight: 400;
  font-style: normal;
  src:
    url("/fonts/Cormorant/Cormorant-Regular.woff2") format("woff2"),
    url("/fonts/Cormorant/Cormorant-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  font-weight: 500;
  font-style: normal;
  src:
    url("/fonts/Poppins/Poppins-Medium.woff2") format("woff2"),
    url("/fonts/Poppins/Poppins-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Tangerine;
  font-weight: 400;
  font-style: normal;
  src:
    url("/fonts/Tangerine/Tangerine-Regular.woff2") format("woff2"),
    url("/fonts/Tangerine/Tangerine-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: CinzelDecorative;
  font-weight: 400;
  font-style: normal;
  src:
    url("/fonts/CinzelDecorative/CinzelDecorative-Regular.woff2") format("woff2"),
    url("/fonts/CinzelDecorative/CinzelDecorative-Regular.woff") format("woff");
  font-display: swap;
}
